<!DOCTYPE html>
<html lang="en" >
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Aquila Group of Schools</title>
  <link rel='stylesheet' href="{% static 'css/index.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
  <div>
    <span>Reinventing 21st century learning</span>
    <h1>Aquila Group of Schools</h1>
    <hr>
    <p>We are leading education as warriors and transforming every child as we go!</p>
    <a href="#">School Portal</a>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide--one"> 
        <div>
          <h2>Education</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius reprehenderit, suscipit impedit quisquam, quidem minus quo dolorum beatae, delectus similique iure.</p>
          <a href="" target="_blank">explore</a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide--two">
        <div>
          <h2>Excellence</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius reprehenderit, suscipit impedit quisquam, quidem minus quo dolorum beatae, delectus similique iure.
          </p>
          <a href="" target="_blank">explore</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide--three">

        <div>
          <h2>Discipline</h2>
          <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius reprehenderit, suscipit impedit quisquam, quidem minus quo dolorum beatae, delectus similique iure.</p>
          <a href="" target="_blank">explore</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide--four">

        <div>
          <h2>Performance</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius reprehenderit, suscipit impedit quisquam, quidem minus quo dolorum beatae, delectus similique iure.
          </p>
          <a href="" target="_blank">explore</a>
        </div>
      </div>

      <div class="">

        <div>
          <h2>Success</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius reprehenderit, suscipit impedit quisquam, quidem minus quo dolorum beatae, delectus similique iure.
          </p>
          <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <img src="https://cdn.pixabay.com/photo/2021/11/04/19/39/jellyfish-6769173_960_720.png" alt="" class="bg">
  <img src="https://cdn.pixabay.com/photo/2012/04/13/13/57/scallop-32506_960_720.png" alt="" class="bg2">
</main>
<!-- partial -->
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
  <script  src= "{%static 'js/index.js' %}"></script>

</body>
</html>
