
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
   
    <form>

        <div class="wrapper">
            <div class="user-input">
                <label>Username:</label>
                <input type="text" placeholder="username">
            </div>
             <div class="user-input">
                <label>Password:</label>
                <input type="text" placeholder="password">
            </div>
            <div class="user-button">
                <button>log in</button>
            </div>
        </div>
    </form>
</body>
</html>
